<FilesMatch "^\.git.*|Makefile|angular$">
	Deny from all
</FilesMatch>
AddDescription "Directory listing styles" autoindex.css
# Keep authz errors from filling up the log
IndexIgnore \
	.git \
	.gitignore \
	.gitmodules \
	.htaccess \
	Makefile \
	angular \
	src
