  <h1 id="indextitle">Index of /slackpacks</h1>
  <table id="indexlist">
      <tr class="indexhead"><th class="indexcolicon"><img src="assets/icons/blank.gif" alt="[ICO]" /></th><th class="indexcolname"><a href="?C=N;O=D">Name</a></th><th class="indexcollastmod"><a href="?C=M;O=A">Last modified</a></th><th class="indexcolsize"><a href="?C=S;O=A">Size</a></th><th class="indexcoldesc"><a href="?C=D;O=A">Description</a></th></tr>
   <tr class="indexbreakrow"><th colspan="5"><hr /></th></tr>
   <tr class="even"><td class="indexcolicon"><a href="/"><img src="assets/icons/up.png" alt="[PARENTDIR]" /></a></td><td class="indexcolname"><a href="/">Parent Directory</a></td><td class="indexcollastmod">&nbsp;</td><td class="indexcolsize">  - </td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="odd"><td class="indexcolicon"><a href="h3x-13.37/"><img src="assets/icons/folder.png" alt="[DIR]" /></a></td><td class="indexcolname"><a href="h3x-13.37/">h3x-13.37/</a></td><td class="indexcollastmod">2021-11-12 15:58  </td><td class="indexcolsize">  - </td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="even"><td class="indexcolicon"><a href="h3x-14.0/"><img src="assets/icons/folder.png" alt="[DIR]" /></a></td><td class="indexcolname"><a href="h3x-14.0/">h3x-14.0/</a></td><td class="indexcollastmod">2021-11-12 15:58  </td><td class="indexcolsize">  - </td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="odd"><td class="indexcolicon"><a href="h3x-14.1/"><img src="assets/icons/folder.png" alt="[DIR]" /></a></td><td class="indexcolname"><a href="h3x-14.1/">h3x-14.1/</a></td><td class="indexcollastmod">2021-11-12 15:58  </td><td class="indexcolsize">  - </td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="even"><td class="indexcolicon"><a href="h3x-14.2/"><img src="assets/icons/folder.png" alt="[DIR]" /></a></td><td class="indexcolname"><a href="h3x-14.2/">h3x-14.2/</a></td><td class="indexcollastmod">2021-11-12 15:58  </td><td class="indexcolsize">  - </td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="odd"><td class="indexcolicon"><a href="h3x-15.0/"><img src="assets/icons/folder.png" alt="[DIR]" /></a></td><td class="indexcolname"><a href="h3x-15.0/">h3x-15.0/</a></td><td class="indexcollastmod">2021-11-12 15:58  </td><td class="indexcolsize">  - </td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="even"><td class="indexcolicon"><a href=".gitignore"><img src="assets/icons/unknown.png" alt="[   ]" /></a></td><td class="indexcolname"><a href=".gitignore">.gitignore</a></td><td class="indexcollastmod">2021-11-09 09:49  </td><td class="indexcolsize">155 </td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="odd"><td class="indexcolicon"><a href="GPG-KEY"><img src="assets/icons/unknown.png" alt="[   ]" /></a></td><td class="indexcolname"><a href="GPG-KEY">GPG-KEY</a></td><td class="indexcollastmod">2012-02-05 12:07  </td><td class="indexcolsize">1.6K</td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="even"><td class="indexcolicon"><a href="really_really_really_really_long_filename_foo_bar_baz_qux_i_can_write_a_whole_letter_to_grandma_in_the_filename.pdf"><img src="assets/icons/unknown.png" alt="[   ]" /></a></td><td class="indexcolname"><a href="really_really_really_really_long_filename_foo_bar_baz_qux_i_can_write_a_whole_letter_to_grandma_in_the_filename.pdf">really_really_really_really_long_filename_foo_bar_baz_qux_i_can_write_a_whole_letter_to_grandma_in_the_filename.pdf</a></td><td class="indexcollastmod">2012-02-05 12:07  </td><td class="indexcolsize">49.6K</td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="odd"><td class="indexcolicon"><a href="really-really-really-really-long-filename-foo-bar-baz-qux-i-can-write-a-whole-letter-to-grandma-in-the-filename.pdf"><img src="assets/icons/unknown.png" alt="[   ]" /></a></td><td class="indexcolname"><a href="really-really-really-really-long-filename-foo-bar-baz-qux-i-can-write-a-whole-letter-to-grandma-in-the-filename.pdf">really-really-really-really-long-filename-foo-bar-baz-qux-i-can-write-a-whole-letter-to-grandma-in-the-filename.pdf</a></td><td class="indexcollastmod">2012-02-05 12:07  </td><td class="indexcolsize">49.6K</td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="even"><td class="indexcolicon"><a href="_update_metadata.sh"><img src="assets/icons/shellscript.png" alt="[   ]" /></a></td><td class="indexcolname"><a href="_update_metadata.sh">_update_metadata.sh</a></td><td class="indexcollastmod">2016-08-03 13:53  </td><td class="indexcolsize">9.9K</td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="odd"><td class="indexcolicon"><a href="sitemap.php"><img src="assets/icons/php.png" alt="[   ]" /></a></td><td class="indexcolname"><a href="sitemap.php">sitemap.php</a></td><td class="indexcollastmod">2020-10-23 10:24  </td><td class="indexcolsize">1.3K</td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="even"><td class="indexcolicon"><a href="update"><img src="assets/icons/unknown.png" alt="[   ]" /></a></td><td class="indexcolname"><a href="update">update</a></td><td class="indexcollastmod">2021-11-09 09:45  </td><td class="indexcolsize">2.3K</td><td class="indexcoldesc">&nbsp;</td></tr>
   <tr class="indexbreakrow"><th colspan="5"><hr /></th></tr>
</table>

<!-- TODO Pull this from the actual file -->
<p class="footer">
<em>Powered by <a href="https://codeberg.org/h3xx/apache-modern-autoindex" target="_blank">apache modern autoindex</a></em>
</p>
