@import 'mixins';
@import 'vars';

/*------------------------------------*\
    Error pages
/*------------------------------------*/
// Animation
@if not $apaxy-modern {
    @-webkit-keyframes fadeDown {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
        }
    }

    @-moz-keyframes fadeDown {
        0% {
            opacity: 0;
            -moz-transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            -moz-transform: translateY(0);
        }
    }

    @-ms-keyframes fadeDown {
        0% {
            opacity: 0;
            -ms-transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            -ms-transform: translateY(0);
        }
    }

    @-o-keyframes fadeDown {
        0% {
            opacity: 0;
            -o-transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            -o-transform: translateY(0);
        }
    }
}

@keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeDown {
    @include animation(fadeDown 1s ease);

    // Center elements in error pages
    .center {
        text-align: center;
    }
}

// Error code display
.errorCode {
    font-size: 80px;
}

/*------------------------------------*\
    Error pages
\*------------------------------------*/

.breadcrumb {
    white-space: nowrap;
    padding: 0;
    margin: 0;
    li {
        color: rgb(154, 154, 154);
        display: inline-block;
        line-height: 10px;
        margin: 0 9px 20px -10px;
        padding: 0 15px;
        position: relative;
        @include dark-mode() {
            color: rgb(100, 100, 100);
        }
        &::after,
        &::before {
            border-right: 1.5px solid #000;
            content: '';
            display: block;
            height: 50%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            z-index: -1;
            transform: skewX(45deg);
            @include dark-mode() {
                border-color: #fff;
            }
        }
        &::after {
            bottom: 0;
            top: auto;
            transform: skewX(-45deg);
        }
        &:last-of-type::after,
        &:last-of-type::before {
            display: none;
        }

        a {
            letter-spacing: -1px;
            text-decoration: none;
        }
    }
}

