@import 'vars';

@mixin dark-mode() {
	@media (prefers-color-scheme: dark) {
        @content;
    }
}

@mixin small-screen() {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin transition($transition, $modern: $apaxy-modern) {
    transition: $transition;
    @if not $modern {
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
        -webkit-transition: $transition;
    }
}

@mixin animation($animation, $modern: $apaxy-modern) {
    animation: $animation;
    @if not $modern {
        -moz-animation: $animation;
        -ms-animation: $animation;
        -o-animation: $animation;
        -webkit-animation: $animation;
    }
}
