@import 'mixins';

/*------------------------------------*\
    Table (directory listing)
\*------------------------------------*/

table {
    width: 100%;
    border-collapse: collapse;
    font-size: .875em;
    color: rgb(143, 143, 143);
    @include dark-mode() {
        color: rgb(111, 111, 111);
    }
}

.odd {
    background-color: rgb(244, 244, 244);
    @include dark-mode() {
        background-color: rgb(50, 50, 50);
    }
}

tr {
    outline: 0;
    border: 0;

    // Parent Directory links
    &:nth-child(3) {
        a[href^="/"] {
            color: #9099A3;
            &:hover {
                color: #2281d0;
            }
        }
    }

}

td,
th {
    text-align: left;
    &:not(.indexcolicon) {
        padding-right: 5px;
    }
}

th {
    font-size: .75em;
}

td {
    padding: 5px 0;
    outline: 0;
    border: 0;
    vertical-align: middle;
    @include transition(background 300ms ease);
    @include dark-mode() {
        border-color: #424242;
    }
}

// 1st Column: Icon
.indexcolicon {
    width: 40px;

    img {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
    }
}

// 3rd Column: Last Modified
.indexcollastmod {
}

// 4th Column: Size
.indexcolsize {
}
