@import 'mixins';

/*------------------------------------*\
    Wrapper
\*------------------------------------*/

.wrapper {
    margin: 0 auto;
    padding-top: 20px;
    max-width: 80%;
    @include small-screen() {
        max-width: 100%;
    }
}
