$always-dark-mode: false !default;
$internal-borders: true !default;

$gray0: #fff !default;
$gray1: #f7f7f7 !default;
$gray2: #f0f0f0 !default;
$gray3: #616161 !default;
$gray4: #d4d4d4 !default;
$gray4-border: 1px solid $gray4 !default;
$gray5: #373737 !default;

$dkgray0: $gray5;
$dkgray1: invert($gray1) !default;
$dkgray2: invert($gray2) !default;
$dkgray3: invert($gray3) !default;
$dkgray4: invert($gray4) !default;
$dkgray4-border: 1px solid $dkgray4 !default;
$dkgray5: $gray0 !default;
