$always-dark-mode: false !default;
$internal-borders: true !default;

$gray1: #f7f7f7 !default;
$gray2: #f0f0f0 !default;
$gray3: #616161 !default;
$gray4: #d4d4d4 !default;
$gray4-border: 1px solid $gray4 !default;
$white1: #fff;

$black1: #373737 !default;
