$always-dark-mode: false !default;
$always-light-mode: false !default;
$internal-borders: true !default;

$gray0: #fff !default;
$gray1: #f7f7f7 !default;
$gray2: #f0f0f0 !default;
$gray3: #616161 !default;
$gray4: #d4d4d4 !default;
$gray4-border-color: darken($gray4, 5%) !default;
$gray4-border: 1px solid var(--gray4-border) !default;
$gray5: #373737 !default;

$dkgray0: $gray5;
$dkgray1: lighten(invert($gray1), 10%) !default;
$dkgray2: lighten(invert($gray2), 5%) !default;
$dkgray3: lighten(invert($gray3), 10%) !default;
$dkgray4: lighten(invert($gray4), 5%) !default;
$dkgray4-border-color: lighten($dkgray4, 5%) !default;
$dkgray5: $gray0 !default;

$link-blue-darkmode: #66beff;
$link-blue-lightmode: darken($link-blue-darkmode, 20%);
$link-blue-active-darkmode: lighten($link-blue-darkmode, 10%);
$link-blue-active-lightmode: darken($link-blue-lightmode, 10%);

// Connect colors to their light/dark mode usages
// Each entry here gets added in :root as --{KEY}: VALUE
$theme: (
    "gray0": (
        "darkmode": $dkgray0,
        "lightmode": $gray0,
    ),
    "gray1": (
        "darkmode": $dkgray1,
        "lightmode": $gray1,
    ),
    "gray2": (
        "darkmode": $dkgray2,
        "lightmode": $gray2,
    ),
    "gray3": (
        "darkmode": $dkgray3,
        "lightmode": $gray3,
    ),
    "gray4": (
        "darkmode": $dkgray4,
        "lightmode": $gray4,
    ),
    "gray4-border": (
        "darkmode": $dkgray4-border-color,
        "lightmode": $gray4-border-color,
    ),
    "gray5": (
        "darkmode": $dkgray5,
        "lightmode": $gray5,
    ),
    "link-blue": (
        "darkmode": $link-blue-darkmode,
        "lightmode": $link-blue-lightmode,
    ),
    "link-blue-active": (
        "darkmode": $link-blue-active-darkmode,
        "lightmode": $link-blue-active-lightmode,
    ),
);
