$always-dark-mode: false !default;
$internal-borders: true !default;

$gray1: #f7f7f7 !default;
$gray3: #f0f0f0 !default;
$gray4: #616161 !default;
$gray5: #d4d4d4 !default;
$gray5-border: 1px solid $gray5 !default;
$white: #fff;

$black1: #373737 !default;
