/*! codeberg.org/h3xx/apache-modern-autoindex | (c) Dan Church | GPLv3+Commons Clause */

@import 'mixins';
@import 'vars';

// Add colors to CSS variables
:root {
    @each $key, $value in $theme {
        --#{$key}: #{map-get($value, 'lightmode')};
    }
    @include dark-mode() {
        @each $key, $value in $theme {
            --#{$key}: #{map-get($value, 'darkmode')};
        }
    }
}

*,
{
    box-sizing: border-box;
}

html,
{
    min-height: 100%;
    font-weight: 400;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.7em;
    background-color: var(--gray1);
    color: var(--gray3);
}

a,
{
    text-decoration: none;
}

a,
img,
{
    border: none;
    outline: none;
}

#indextitle,
#indexlist,
p.footer,
{
    margin: 1em auto;
    max-width: 95%;
    width: 900px;
}

p.footer,
{
    text-align: right;
    font-size: 90%;
    a,
    {
        color: var(--link-blue);

        &:hover,
        &:focus,
        &:active,
        {
            color: var(--link-blue-active);
        }
    }
}

#indextitle,
{
    padding-bottom: 1em;
    color: var(--gray5);
    @include media-breakpoint-up(sm) {
        margin-top: 2em;
    }

    &::before,
    {
        content: '';
        display: block;
        height: 3em;
        @include media-breakpoint-up(sm) {
            height: 4em;
        }
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

        border-bottom: $gray4-border;
        @include gradient-top(var(--gray4-border), var(--gray2), var(--gray1));
    }

}

#indexlist,
{
    border-collapse: separate;
    border-radius: 0.25rem;
    border-spacing: 0;
    box-shadow: none;
    border: $gray4-border;
    background-color: var(--gray0);

    a,
    {
        color: var(--gray3);

        &:hover,
        &:focus,
        &:active,
        {
            color: var(--gray5);

            img,
            {
                opacity: 0.4;
            }
        }

    }

    tr,
    {

        &:first-child,
        {
            td,
            th,
            {
                border-top: none;
            }
        }

        &:last-child,
        {
            td,
            th,
            {
                border-bottom: none;
            }
        }

        td:first-child,
        th:first-child,
        {
            border-left: none;
        }

        td:last-child,
        th:last-child,
        {
            border-right: none;
        }

        // Hide huge bars
        &.indexbreakrow,
        {
            display: none;
        }

        // Row styling
        &.even td,
        {
            background-color: var(--gray0);
        }
        &.odd td,
        {
            background-color: var(--gray1);
        }

    }

    th,
    td,
    {
        padding: 0;
        transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease;
        text-align: left;
        vertical-align: middle;

        @if $internal-borders {
            border-top: $gray4-border;
        }

        &:not(.indexcolname),
        {
            border-left: $gray4-border;
        }

        @include media-breakpoint-down(sm) {
            &.indexcollastmod,
            {
                display: none;
            }
        }

    }

    th,
    td.indexcolicon,
    td.indexcolname,
    {
        // make links fill up the whole table cell
        a,
        {
            display: block;
            width: 100%;
            height: 100%;
            padding: 0.4em 0.6em;
        }
    }

    .indexcolicon,
    {
        // 'width' also needs to apply to the <th> or the column will be too
        // wide.
        width: 32px;
    }

    th,
    {
        font-weight: 700;
        @if not $internal-borders {
            border-bottom: $gray4-border;
        }

        background-color: var(--gray2);
        color: var(--gray5);

        &:hover,
        // Empty icon column header hover -> set state for Name column
        &.indexcolicon:hover + th.indexcolname,
        // Name column header hover -> set state for Icon column
        // TODO This breaks the entire stylesheet for Firefox, seems to work in
        // Chrome.
        // See https://caniuse.com/css-has
        // &.indexcolicon:has( + th.indexcolname:hover),
        {
            background-color: var(--gray4);
        }

        a,
        {
            padding: 0.7em 0.6em;
        }
    }

    td,
    {
        // Break up long text in all columns (not headers).
        // This prevents horizontally-scrolling mobile site.
        &:not(
            .indexcolicon,
            .indexcolsize
        ),
        {
            overflow-x: hidden;
            text-overflow: ellipsis;
            word-break: break-all;
        }

        &.indexcolicon,
        {
            a,
            {
                padding-right: 0;
            }

            img,
            {
                vertical-align: middle;
            }
        }

        &.indexcollastmod,
        {
            // Prevent breaking timestamp
            white-space: nowrap;
        }

        // These cells aren't taken up by a link, ergo the padding needs to
        // come from the table cell itself
        &:not(
            .indexcolname,
            .indexcolicon
        ),
        {
            padding: 0 0.6em;
        }

    }

}
